<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><code>&lt;script src="https://tvtools.shahid.net/sdk">&lt;/script&gt;</code></p>
<p>chii instance: <a href="https://tvtools.shahid.net:{{chiiPort}}">https://tvtools.shahid.net:{{chiiPort}}</a></p>